*{
    margin: 0;
    padding: 0;
}
#heading{
    font-size: 3rem;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    ;
    color: red;
    text-shadow: 3px 5px 3px rgb(10, 6, 1);
    
    position: relative;
    top:5vh;
    
}

.box{
    
    margin: 0px 5vw 0px 5vw;

    position: relative;
    top:10vh;
    
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
    

}

.button{
    height: 20vh;
    width:28vw;
    margin: 0px 2px 3vh 0px;
    border: 2px solid black;
    cursor: pointer;
}

#grey{
    background-color: grey;
}
#black{
    background-color: black;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}

.footer{
    position: relative;
    top:15vh;

    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:deeppink;
    text-shadow: 2px 2px 3px black;
    font-weight: 800;
    
}